@model List<ListPostViewModel>
@{
    ViewData["Title"] = "PostList";
}

@foreach (var item in Model)
{
    <div class="card text-dark bg-white border-danger mt-2">
        <div class="card-header text-center border-danger">
            <h1 class="card-title">@item.Title</h1>
        </div>
        <img src="/images/@item.ImageUrl" class="card-img-top">
        <div class="card-body bg-white">
            <p class="card-text">@item.ContentText</p>
        </div>
        <div class="card-footer border-danger">
            <h3 style="display: inline-block;">
                <span class="badge rounded-pill bg-white text-dark">
                    Post Tarih: @item.CreatedDate.Day.@item.CreatedDate.Month.@item.CreatedDate.Year
                </span>
            </h3>
            <h3 style="display: inline-block;">
                <span class="badge rounded-pill bg-white text-dark">
                    Kategori: @item.Category.Name
                </span>
            </h3>
            <a href="#" class="btn btn-primary btn-sm float-end">Detay sayfasına git</a>
        </div>
    </div>
}


